<a href="https://colab.research.google.com/github/Luanasousa1505/Intru-o-de-Python/blob/main/Aula_2_Python_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 1 - Linguagem PYTHON
1.   Variáveis;
2.   Comentários;
3.   Entrada de Dados; e 
4.   Apresentação de Dados na Tela.

1 - Variáveis

In [ ]:
nome = "Maria"
idade = 19
salario = 3298.95
trabalha = True

In [ ]:
nome = "Pedro"
idade = 29
salario = 2298.95
trabalha = False
print( type(nome))
print( type(idade))
print( type(salario))
print( type(trabalha))

In [ ]:
# Exemplo: Faça um programa que mostre o valor das parcelas a serem pagas 
#          na compra de um televisar em 12 vezes sem juros. Sabe-se que a 
#          TV custa 3600.99

# Programa ParcelasTV
preco = 3600.99
parcelas = preco / 12
print("Valor das Parcelas = " , parcelas)
# Final do programa

Valor das Parcelas =  300.0825

In [ ]:
# Exercício : Faça um programa que mostre a quantidade de litros de gasolina
#             que uma pessoa gastará numa viagem de carro. Sabe-se que a distância
#             a ser percorrida é de 450 Km e que o carro faz 12 Km/L.

# Programa ViagemConsumo
preco = 3600.99
parcelas = preco / 12
print("Valor das Parcelas = " , parcelas)
# Final do programa

2 - Comentários

In [ ]:
# O símbolo "#" é utilizado para incluir no programa uma linha de comentário.
# Todas as instruções inseridas após o "#" serão ignoradas na execução do programa

# Programa usoDeComentarios
nome = "Maria Helena"  # nome do funcionário
prof = "Analista de Sistemas"   # profissão da funcionária 
sal  = 4980.88 
# Cálculo do abono
abono = sal * 0.12    # o percentual do abono é de 12%
# Apresentação do resultado
print("Nome : ", nome)
print("Profissão : ", prof)
print("Salário : ", sal)
print("Abono : ", abono)

In [ ]:
""" 
  O Python permite o uso de blocos de comentários, a partir do uso de 3 aspas 
  no início do comentário e 3 no final.
"""
''' Programa usoDeComentarios '''
nome = "Maria Helena" 
prof = "Analista de Sistemas"  
sal  = 4980.88 
abono = sal * 0.12    
print("Nome : ", nome)
print("Profissão : ", prof)
print("Salário : ", sal)
print("Abono : ", abono)

3 - Entrada de Dados

input() - Função que permite receber dados.

Sintaxe: variável = input("Mensagem orientando a digitação do usuário:")

  Exemplo Portugol: 
  Escreva("Digite o seu nome : ")
  Leia nome

  Exemplo no Python:
  nome = input("Digite o seu nome : ")    

    Observação: Os dados recebidos no input são 
    sempre do tipo STRING. Sendo assim, precisamos 
    das funções int() e float() para converter os 
    dados para os tipos números necessários.

In [ ]:
# Exemplo: Faça um Programa para receber o nome, a cidade e a profissão de uma pessoa.

# Programa RecebeDados
nome = input("Digite o seu nome : ")
cidade = input(nome + "Digite a cidade : ")
profissao = input("Digite a profissão : ")
# final do programa

Digite o seu nome : luana
luanaDigite a cidade : bsb
Digite a profissão : Gamer

In [ ]:
# Exercício: Escreva um programa que receba o Nome, a Profissão, o Tempo de Serviço e 
#            o Salário de uma pessoa. Será necessário utilizar as funções float() e int()
#            para converter os dados para o tipo de dado desejado.

# Programa ExemploEntradaDeDados
nome = input("Digite o seu nome : ")
tempodeservico = int(input( "Digite o tempo de serviço : "))
salario = float(input("Digite o valor do salario : "))
profissao = input("Digite sua profissão : ")
sexo = input("Digite o sexo")
if sexo.upper() =="M":
 print("Alistamento")

4 - Apresentação de Dados

print() - Permite apresentar dados na tela. Podemos utilizar mensagens entre aspas, variáveis e/ou operações matemáticas dentro dos parênteses.

In [ ]:
# Exemplo 1 - Uso do print()
print("Lógica de Programação do Python")  # Apresentação de mensagem
nome = "José"
print(nome)   # Apresentação de variável
print("Boa noite " , nome) # Apresentação de mensagem com variável
sal = 3580.88
print("Abono = " , sal * 0.12) # Apresentação de mensagem com expressão matemática

Lógica de Programação do Python
José
Boa noite  José
Abono =  429.7056

In [ ]:
# Exemplo 2 - Uso do print()
funcionario = "João"
profissao = "Analista de Sistemas"
salario = 5000.95
print(  funcionario , " é " , profissao , " e ganha  " ,  salario )
print(  "A gratificação do " ,  funcionario ,  "  é  "  ,  salario * 15 / 100 )
# fim

In [ ]:
# Exemplo 3 - Uso do print() com formatação
preco = 3765.49
desconto = preco * 0.0276

# Valores sem formatação
print("Preço do produto  = " , preco)
print("Preço do desconto = " , desconto)


# Valores com formatação
print(f"\nPreço do produto  = {preco}")
print(f"Preço do desconto = {desconto}")
print(f"Preço do desconto = {desconto:.2f}")
print(f"Preço do produto  = {preco:10.2f}")
print(f"Preço do desconto = {desconto:10.2f}")

In [ ]:
# Exercício 1 : Faça um algoritmo que receba as medidas da base e altura de um
#    retângulo, calcule e apresente a área e o perímetro deste retângulo.
#    Fórmulas: Área = base x altura  
#              Perímetro = (2 x base) + (2 x altura)
base =float(input("Digite tamanho da base"))
altura = float(input("Digite a atura"))

area = base*altura
perimetro = (2*base)+(2*altura)
print("\n A auturado seu triangulo é:",area,"\n\n Com o perimetro de:",perimetro)

Digite tamanho da base24
Digite a atura5

 A auturado seu triangulo é: 120.0

 Com o perimetro de: 58.0

In [ ]:
# Exercício 2 : Uma revendedora de carros usados paga a seus vendedores um 
#    salário fixo por mês, mais uma comissão de 0,5% sobre o valor total das
#    vendas realizadas pelo vendedor. Escreva um algoritmo que calcule e exiba
#    o salário final de um vendedor.

salario = float(input("\nDigite o salario:\n"))
vendas = float(input("\nInforme o total de vendas:\n"))

comissao = (vendas *0.005)

print("sua comissão sera de:",comissao,"\n\n o seu total sera de:",comissao+salario)

Digite o salario:
0977

Informe o total de vendas:
08789
sua comissão sera de: 43.945

 o seu total sera de: 1020.945

In [ ]:
# Exercício 3 : A DoceLar, loja especializada em eletrodomésticos, está vendendo
#    os produtos com 20% de desconto, parcelados em 5 vezes sem juros. Faça um
#    programa que receba o valor da compra do cliente, calcule e mostre o valor
#    do desconto e o valor das prestações a serem pagas. 
compra = float(input("Digite o valor da compra:"))

descontos = compra*0.20
total = compra - descontos

print(f"\n\n O seu desconto sera de:R${descontos: .2f}")
print("\n\n O Total da sua compra com descontos ser:R$",total)
print(f"\n\n Voce pode pagar em ate 5x:R$\n{total/5:.2f}")